* {
    margin: 0;
    padding: 0;
}

.upper{
    height: 5rem;
    width: 100%;
    background-color: #081b31;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choices:hover{
    cursor: pointer;
    background-color: #081b31;
}

.choices img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.score-board{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.75rem;
    gap: 5rem;
}
.msg-container{
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
}
#user-score, #comp-score{
    font-size: 3rem;
}
#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
    margin-top: 5rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
}
